#nav {
    border: 1px solid black;
    height: 50px;
    width: 300px;
    background: white;
    margin: 0px auto;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    border: 1px solid black;
    width: 70px;
    display: inline;
    padding: 2px;
}

#nav ul li a:link {
    text-decoration: none;
}

#nav ul li a:visited {
    text-decoration: none;
    color: blue;
}

#nav ul li a:hover {
    text-decoration: none;
    font-weight: bold;
}

#nav ul li a:active {
    text-decoration: none;
    color: red;
}

#Container {
    border: 1px solid black;
    width: 700px;
    height: auto;
    position: relative;
    /*marginの値を変えることで要素の上下範囲の余白を変えられる。*/
    margin: 0px auto;
}

#Intro {
    /*フォントをサポートしていない場合もあるので、複数のフォントを指定しておく。*/
    font-family: Arial, Helvetica, Times New Roman;
    /*パラグラフの行間の高さ*/
    /*pxだけではなく、*emやptもある。*/
    /*テキストの揃え*/
    /*text-align: right;*/
    border: 1px solid black;
    color: blue;
    width: 100%;
    height: auto;
    background-color: orange;
    /*absoluteは他のdivを気にしないので注意*/
    /*position: absolute;*/
    /*fixedはページのヘッダーなど固定したいときに使用する。*/
    /*position: fixed;*/
    /*マージン：セクションとセクションの間の余白*/
    /*margin: 20px;*/
    /*パディング：各セクションのまわりの余白*/
    padding-left: 100px ;
}

#Motivation {
    border: 1px solid black;
    color: blue;
    width: 100%;
    height: auto;
    background-color: yellow;
}

#Overview {
    font-family: Times New Roman;
    border: 1px solid black;
    color: blue;
    width: 100%;
    height: auto;
    background-color: red;
}

p {
    color: black;
    font-size: 20px;
}

p.world {
    color: orange;
    font-size: 60px;
}

#hiroto {
    color: blue;
    font-size: 20px;
}

.world {
    color: green;
}