h1,h2 {
    color: red;
    font-family: Arial;
    font-size: 36px;
}

p {
    color: green;
    font-size: 24px;
}

p.hiroto {
    color: blue;
    font-size: 72px
}

h1.hiroto {
    color: orange;
}