#Container {
    border: 1px solid black;
    width: 700px;
    height: auto;
    position: relative;
    /*marginの値を変えることで要素の上下範囲の余白を変えられる。*/
    margin: 0px auto;
}

#Intro {
    border: 1px solid black;
    color: blue;
    width: 100%;
    height: auto;
    background-color: orange;
    /*absoluteは他のdivを気にしないので注意*/
    /*position: absolute;*/
    /*fixedはページのヘッダーなど固定したいときに使用する。*/
    position: fixed;
}

#Motivation {
    border: 1px solid black;
    color: blue;
    width: 100%;
    height: auto;
    background-color: yellow;
}

#Overview {
    border: 1px solid black;
    color: blue;
    width: 100%;
    height: auto;
    background-color: red;
}